/* Reset some styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set some basic styles for the body */
body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
}

/* Style the header */
header {
  background-color: #FF6B81;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
}

/* Style the main section */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

section {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

section h2 {
  color: #FF6B81;
  margin-bottom: 20px;
}

section ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

section li {
  flex-basis: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  background-color:#F5F5F5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

section li img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

section li h3 {
  color: #333333;
  margin-bottom: 10px;
}

section li p {
  color: #FF6B81;
  font-weight: bold;
}

/* Style the footer */
footer {
  background-color: #2E7D32;
  padding: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
}